server {
  listen ${PORT};
  server_name _;
  root /usr/share/nginx/html;
  index index.html;

  location = /index.html {
    add_header Cache-Control "no-cache";
  }

  location / {
    try_files $uri $uri/ /index.html;
  }

  location ~* \.(?:js|css|woff2?|ttf|eot|svg)$ {
    add_header Cache-Control "public, max-age=31536000, immutable";
  }
}
